<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TechMon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E0339FB1F68C84F00C4D878</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E033A0F1F68C85000C4D878</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E033A1A1F68C85000C4D878</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
